@page "/subir"
@inherits FoliosAddBase
@using AppV7.Shared
@using System.Net.Http.Headers


<InputFile OnChange="@OIFChange" multiple />

    @if(FileNames.Count > 0 ) 
    {
        <ul>
            @foreach(var fn in FileNames) {
                <li>
                    Archivo: @fn
                    <RadzenIcon Icon="done_all" IconStyle="IconStyle.Success" />
                    
                </li>
            }
        </ul>
    }

@code {

}
