@page "/myinfo"
@inherits MyInfoAllBase
@using AppV7.Shared

<h3>Informacion</h3>

<RadzenCard>
    @if (ElUsuario != null)
    {
        <RadzenTabs  @bind-SelectedIndex=@selectedIndex>
            <Tabs>
                <RadzenTabsItem Text="Mis Datos">
                    @if (DatosDicAll.Any())
                    {
                        <MyInfoEdit ElUsuarioPara=@ElUsuario DatosDic=@DatosDicAll />
                    }

                    else
                    {
                        <div class="spinner"></div>
                    }
                </RadzenTabsItem>
                @if (ElUsuario.Nivel > 1)
                {
                    <RadzenTabsItem Text="Mi Equipo">
                        @if (ElUsuario.Nivel > UserNivel.Director)
                        {
                            <RadzenAccordion>
                                <Items>
                                    <RadzenAccordionItem Text="Nuevo Usuario" Icon="plus">
                                        <AppV7.Client.Pages.Admin.MyTeamAdd 
                                            ElUsuario=@ElUsuario DataDic=@DatosDicAll />
                                    </RadzenAccordionItem>
                                </Items>
                            </RadzenAccordion>
                        }
                        <MyEquipo ElUsuario=@ElUsuario DataDic=@DatosDicAll />
                    </RadzenTabsItem>
                }
                <RadzenTabsItem Text="Bitacora" >
                    <MyBitacora ElUsuario=ElUsuario DataDic=DatosDicAll />
                </RadzenTabsItem>
            </Tabs>
        </RadzenTabs>
    }
    else
    {
        <div class="spinner"></div>
    }
</RadzenCard>
--Tatanka--
@code {
    int selectedIndex = 0;
    //RenderMode="TabRenderMode.Client"
}
