@page "/"
@inherits WebAllBase
@using AppV7.Shared

<h3>WEB</h3>

<AuthorizeView>
    <Authorized>

    </Authorized>
    <NotAuthorized>

    </NotAuthorized>
</AuthorizeView>

<RadzenCard>
    <RadzenTabs @bind-SelectedIndex=@selectedIndex>
        <Tabs>
        @foreach(var comp in WsMenu)
        {   
                <RadzenTabsItem Text=@comp.Titulo >      
                              <DynamicComponent 
                                  Type=@Type.GetType(
                                  $"AppV7.Client.Pages.Usuarios.Web.{@comp.Web}") 
                                  Parameters=Parametros />
                    </RadzenTabsItem>
            
        }   
        <RadzenTabsItem Text="fijo"  >
           <ContactanosWeb />
        </RadzenTabsItem>
        </Tabs>

    </RadzenTabs>
</RadzenCard>

@code {
    
}
