@page "/WebAll"
@inherits WebAllBase
@using AppV7.Shared

<h3>WEB</h3>

<AuthorizeView>
    <Authorized>

    </Authorized>
    <NotAuthorized>

    </NotAuthorized>
</AuthorizeView>

<RadzenCard>
    <RadzenTabs @bind-SelectedIndex=@selectedIndex>
        <Tabs>
            
        <RadzenTabsItem Text="fijo"  >
           
        </RadzenTabsItem>
        </Tabs>

    </RadzenTabs>
</RadzenCard>

@code {
    
}
