@inherits NavMenuBase

@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Uniformes 2022</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick=@(()=>reducir("Home")) href="/inicio" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true" 
                @onclick=@(()=>reducir("Home")) ></span> Inicio
            </NavLink>
        </div>
        <AuthorizeView>
    <Authorized>

        <div class="nav-item px-3">
            <span class="nav-link" aria-hidden="true" style="color:white"
                          @onclick=@(()=>reducir("Inventario"))>+ Inventarios</span>
        </div>

        @if (expandInventario)
    {
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/solicitudes">
                    <span aria-hidden="true"></span> ...Solicitudes
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/folios">
                    <span  aria-hidden="true"></span> ...Folios
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/inventarios">
                    <span  aria-hidden="true"></span> ...Inventarios
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/metas">
                    <span aria-hidden="true"></span> ...Metas
                </NavLink>
            </li>
        </ul>
    }

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/misdatos" @onclick=@(()=>reducir("MisDatos"))>
                <span  aria-hidden="true"></span> Mis Datos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/bitacora" @onclick=@(()=>reducir("Bitacora"))>
                <span aria-hidden="true"></span> Bitacora
            </NavLink>
        </div>

        @if (ElNivel > 3)
        {
            <div class="nav-item px-3">
                <span class="nav-link" aria-hidden="true" style="color:white"
                @onclick=@(()=>reducir("Config"))>+ Configuracion </span>
            </div>

            @if (expandConfig)
            {
                <ul class="nav flex-column">

                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="/usuarios">
                                <span aria-hidden="true"></span> ...Usuarios
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="/organizaciones">
                                <span aria-hidden="true"></span> ...Organizaciones
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="/almacenes">
                                <span aria-hidden="true"></span> ...Almacenes
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="/productos">
                                <span aria-hidden="true"></span> ...Productos
                        </NavLink>
                    </li>
                </ul>
            }
        }
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/logout">
                <button class="nav-link btn btn-link" @onclick="BeginSignOut">Salir </button>
            </NavLink>
        </div>

    </Authorized>
        <NotAuthorized>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/firma">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Firma
                </NavLink>
            </div>
        </NotAuthorized>
    </AuthorizeView>   
    </nav>
</div>
  

@code {
    private bool collapseNavMenu = true;
    private bool expandConfig;
    private bool expandInventario;

    private void reducir(string nombre)
    {
        
        expandInventario = !expandInventario;
        if (nombre != "Inventario") expandInventario = false;
        expandConfig = !expandConfig;
        if (nombre != "Config") expandConfig = false;
    }

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
    
}
