@page "/registro"
@inherits AddUsuarioBase
@inject NotificationService NS
@using AppV7.Shared

<h3>Registro Nuevo Usuario</h3>

<RadzenCard>
    @if (LasOrgs != null && LosNiveles != null)
    {
        <RadzenTemplateForm @ref="AddUsuarioForm" Data="@NewAddUsuario" 
            TItem="@EAddUsuario" Submit="@ElNewUsuario" >
            <div class="form-grup row">
                <label for="mail" class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                        
                    <RadzenTextBox Name="Mail" @bind-Value=@NewAddUsuario.Mail
                        style="display: block; width: 300px;" AutoComplete="false" />
                    <RadzenRequiredValidator Component="Mail" Text="El Mail es obligatorio " />
                    <RadzenEmailValidator Component="Mail" Text="El Formato de Mail es Incorrecto!" />
                </div>
            </div>
      
            <div class="form-grup row">
                <label for="pass" class="col-sm-3 col-form-label">Password </label>
                <div class="col-sm-9">
                    <RadzenPassword Name="Pass" @bind-Value=@NewAddUsuario.Pass 
                        Placeholder="6 Caracteres, 1 numero, 1 letra como minimo!" 
                        Change="@Valido" Style="width: 300px;" AutoComplete="false"  />
                        
                        <RadzenRequiredValidator Component="Pass" Text="El Password es obligatorio!" />
                <br />
                </div>
            </div>
            <div class="form-grup row">
                <label for="confirmpass" class="col-sm-3 col-form-label">Confirma tu Password</label>
                <div class="col-sm-9">
                    <RadzenPassword Name="ConfirmPass" @bind-Value=@NewAddUsuario.ConfirmPass Style="width: 300px;" />
                    <RadzenRequiredValidator Component="ConfirmPass" Text="El Password es obligatorio!" />
                    <RadzenCompareValidator Visible=@(!string.IsNullOrEmpty(NewAddUsuario.ConfirmPass)) 
                        Value=@NewAddUsuario.Pass Component="ConfirmPass" 
                    Text="Confirmacion del password no coincide"/>
                </div>
            </div>
            <div class="form-grup row">
                <label for="orgid" class="col-sm-3 col-form-label">Organizacion</label>
                <div class="col-sm-9">
                    <RadzenDropDown Name="OrgId" Data=@LasOrgs @bind-Value=@NewAddUsuario.OrgId
                        ValueProperty="OrgId" TextProperty="Comercial" AllowClear="true" Style="width: 300px;" />
                </div>
            </div>
            <div class="form-grup row">
                <label for="nivel" class="col-sm-3 col-form-label">Nivel</label>
                <div class="col-sm-9">
                    <RadzenDropDown Name="Nivel" Data=@LosNiveles @bind-Value=@NewAddUsuario.Nivel
                        ValueProperty="Key" TextProperty="Value" AllowClear="true" Style="width: 300px;" />
                </div>
            </div>

            <div class="form-grup row">
                <label for="botones" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-7">
                    <label>Tu password debe contener <br /> 6 caracteres minimo
                        @if (IsLargo)
                        {
                            <RadzenIcon Icon="done_all" IconStyle="IconStyle.Success" />
                        }           
                        else 
                        {
                            <RadzenIcon Icon="alarm_off" IconStyle="IconStyle.Danger" />
                        }
                    </label> <br />
                    <label>Una letra mayúscula 
                        @if(Mayuscula)
                        {
                            <RadzenIcon Icon="done_all" IconStyle="IconStyle.Success" />
                        }
                        else 
                        {
                            <RadzenIcon Icon="alarm_off" IconStyle="IconStyle.Danger" />
                        }
                    
                    </label><br/>
                    <label>Una letra minúscula 
                        @if (Minuscula)
                        {
                              <RadzenIcon Icon="done_all" IconStyle="IconStyle.Success" />
                        }
                        else 
                        {
                            <RadzenIcon Icon="alarm_off" IconStyle="IconStyle.Danger" />
                        }
                    </label><br/>
                    <label>Un numero 
                        @if (Numero)
                        {
                            <RadzenIcon Icon="done_all" IconStyle="IconStyle.Success" />
                        }
                        else
                        {
                            <RadzenIcon Icon="alarm_off" IconStyle="IconStyle.Danger" />
                        }
                    </label>
                </div>
                <div class="col-sm-2">
                    
                </div>
            </div>
            <div class="form-grup row">
                <label for="botones" class="col-sm-6 col-form-label"></label>
                
                <div class="col-sm-2">
                    <NavLink class="nav-link" href="/">Cancelar</NavLink>
                    
                </div>
                <div class="col-sm-2">
                    <RadzenButton ButtonType="ButtonType.Submit" Text="Registro" Disabled =!IsRegistro />
                </div>
                <div class="col-sm-2">
                </div>
            </div>

        </RadzenTemplateForm>
    }
    else
    { 
        <div class="spinner"></div>
    }
</RadzenCard>
--Tatanka--

@code {
    public void ShowNotification(NotificationMessage message)
    {
        NS.Notify(message);
    }
    async void ElNewUsuario()
    {
        ShowNotification(ElMsn("info", "Nuevo Usuario", $"Estamos Creando tu nuevo usuario {NewAddUsuario.UsuarioMail}", 0));
        await SaveNewUsuario();
    }

}
